body {
background-image: linear-gradient(90deg,#666666, #ffffff);
font-family: 'Abel', sans-serif;



}

#container {
background-color: transparent;
max-height: 600px;
width: 80%;
padding: 20px;
}

header h1 {

    text-align: center;
    font-size: 55px;
}

nav ul { 
list-style:none;
text-align: center;
display: inline;


}

nav li {
display: inline-block;
font: 16px;


}


nav a{ 

}